.social-list {
  padding-left: 0;
}
.social-list li {
  list-style: none;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  margin-top: 10px;
}
.social-icon i {
  font-size: 17px;
}
.icon-white i {
  color: #fff;
}
.social-icon i:hover {
  color: #81D398;
}
