/*=====================================================
                DEFAULT VALUES:

                Font Family       : Roboto Condensed
                Dark Purple       : #752DD0   (header)
                Medium Purple     : #744DDC   (header)
                Light Purple      : #736EDF   (header)
                White             : #fff      (text on purple, background)
                Mint Green:       : #81D398   (header, buttons)
                Off Bluish        : #F5F9FC   (background)
                Off White:        : #FCFCFD    (service card background)
                Steel Gray        : #41464b   (headings)
                Black             : #000

========================================================*/
html, body {
  height: 100vh;
}
body {
  font-family: "Roboto", sans-sans-serif;
}
h3 {
  color: #41464b;
}
p {
  color: #64707b;
  font-size: 16px;
  font-weight: 300;
}
#page-content-wrapper {
  position: absolute;
  top: 0px;
  width: 100%;
}
/*=========================================================
                        BUTTONS
===========================================================*/
.btn-general {
  border-width: 1px;
  border-radius: 6px;
  font-size: 1.6vh;
  padding: 1vh 1vw;
  font-weight: 300;
}
.btn-mint {
  background-color: #81D398;
  color: #fff;
}
.btn-mint:hover,
.btn-mint:focus {
  background-color: #fff;
  color: #81D398;
}
.btn-purple {
  background-color: #736EDF;
  color: #fff;
}
.btn-purple:hover,
.btn-purple:focus {
  background-color: #fff;
  color: #736EDF;
}
.home-arrow-btn{
  color: #81D398;
  padding: 20px;
}
.home-arrow-btn:hover,
.home-arrow-btn:focus
{
  color: #fff;
}

/*=========================================================
                        GRID BACKGROUND
===========================================================*/
#background-grid {
  display: grid;
  width: 100%;
  position:relative;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  overflow: hidden;
  z-index: -1;
}
.purple-dark-section {
  background-color: #752DD0;
  height: 20vh;
}
.purple-medium-section {
  background-color: #744DDC;
  height: 35vh;
}
.purple-light-section {
  background-color: #736EDF;
  height: 16vh;
}
.white-section {
  background-color: #fff;
  height: 80vh;
}
.off-white-section {
  background-color: #F5F9FC;
  height: 20vh;
}
.background-grid-rows {
  transform: skewY(-10deg);
  margin-top: -20vh;
  padding-bottom: 20vh;
}

/*=========================================================
                        HEADER CONTENT
===========================================================*/
#home-content-box {
  width: 100%;
  height: 100%;
  margin-top: 10vh;
  display: table;
}
#home-content-box-inner {
  vertical-align: middle;
  text-align: center;
}
#home-heading h3 {
  color: #fff;
  font-size: 4.5vh !important;
  font-weight: 500;
  margin: 20px 0 20px 0;
  letter-spacing: 2px;
}
#search-form {
  display: inline-block;
  align: left;
  margin-bottom: 60px;
}
form .search-form-input {
  background: #fff;
  border-radius: 6px;;
  font-size: 17px;
  font-weight: 300;
  padding: 8px 6vw;
  /* margin-bottom: 20px; */
  color: #fff;
}
#home-sub-heading p{
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5vh;
  font-weight: 200;
}
/*=========================================================
                        NAVIGATION
===========================================================*/
.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 0;
  padding: 10px 0;
  transition: all .5s ease-in-out;
}
.mywebnow-top-nav {
  /* background: rgba(0,0,0,0.7); */
  padding: 7px 0;
}
.mywebnow-nav-wrapper {
  padding: 0 35px;
}
.navbar-nav {
  float: right;
}
.navbar-nav li a {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
}
.navbar-nav li a:hover, .navbar-nav li a:focus {
  background: none;
  color: #81D398;
}
.navbar-toggle {
  background-color: rgba(0,0,0,0.1);
  /* border: 1px solid #fff; */
  border-radius: 0;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-collapse {
  max-height: none !important;
}
.mywebnow-top-nav ul.navbar-nav li.active a {
  color: #81D398
}
/*=========================================================
                        ANIMATE
===========================================================*/
#home-heading {
  animation-delay: .1s;
  animation-duration: .1s;
}
#home-btn {
  animation-delay: .1s;
  animation-duration: .2s;
}
/*=========================================================
                        ABOUT
===========================================================*/
#about-content-box {
  height: auto;
  width: 60%;
  margin: 0 auto 0 auto;
  padding: 20vh 40px 10vh 40px;
}
#about-content-box-outer {
  width: 60%;
  height: 100%;
  margin: 0 auto 0 auto;
  display: table;
}
#about-content-box-inner {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  padding: 0 10px;
}
#about-desc p {
  margin-bottom: 20px;
}

/*=========================================================
                        SERVICES
===========================================================*/
#services-content-box {
  height: 100%;
  justify-content: center;
  align-items: center;
}
.services-content-title h3{
  font-size: 3.5vh;
  font-weight: 600;
  text-align: center;
  /* margin: 0 0 30px 0; */
}
.services-content-title-underline {
  width: 20px;
  height: 2px;
  background-color: #34c6d3;
  margin: 20px auto 80px auto;
}
#services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
}
.service-item {
  background: #fff;
  display: block;
  padding: 5px;
  width: 400px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #FCFCFD;
  border: 2px solid #F5F9FC;
}
#services-grid-outer-wrapper {
  padding: 0 20vw;
  justify-content: center;
  align-items: center;
}



/* .service-item {
  padding: 20px 0 20px 0;
  margin-bottom: 20px;
}
.service-item-icon i {
  color: #34c6d3;
  float: left;
  padding: 15px;
  margin-right: 25px;
  width: 75px;
  height: 75px;
  text-align: center;
}
.service-item:hover .service-item-icon i {
  color: #fff;
  background-color: #34c6d3;
}
.service-item-title h3 {
  font-size: 2vh;
  font-weight: 400;
  margin: 0 0 10px 0;
}
.service-item-desc p {
  margin: 0;
  padding-left: 85px;
} */
