#background-grid {
  display: grid;
  width: 100vw;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  overflow: hidden;
  z-index: -1;
}

.purple-dark-section {
  background-color: #752DD0;
  height: 20vh;
}

.purple-medium-section {
  background-color: #744DDC;
  height: 28vh;
}

.purple-light-section {
  background-color: #736EDF;
  height: 12vh;
}

.white-section {
  background-color: #fff;
  height: 60vh;
}

.off-white-section {
  background-color: #F5F9FC;
  height: 20vh;
}

.background-grid-rows {
  transform: skewY(-10deg);
  margin-top: -20vh;
  padding-bottom: 20vh;
}
