/* Large Devices - Desktop/Laptop */
@media (min-width: 1200px) {

  /* Page background grid */
  .white-section {
    height: 90vh;
  }
}

/* Medium Devices */
@media (min-width: 992px) and (max-width: 1199px) {

  /* About */
  .about-content-box-wrapper {
    padding: 0 !important;
  }

  /* Services */
  .services-content-title-underline {
    margin-bottom: 40px !important;
  }

  /* Page background grid */
  .off-white-section {
    height: 25vh;
  }

  .white-section {
    height: 90vh;
  }
}

/* Small Devices */
@media (min-width: 781px) and (max-width: 991px) {

  /* About */
  .about-content-box {
    padding-top: 10vh !important;
  }

  /* Page background grid */
  .white-section {
    height: 115vh;
  }

  /* Home */
  .home-sub-heading p {
    color: #81D398 !important;
    font-weight: 400 !important;
  }

  .home-arrow-icon a i {
    height: 10px;
  }

  /* Services */
  .services-content-title-underline {
    margin-bottom: 40px !important;
  }

  .services-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr)) !important;
  }
}

/* X-Small Devices 1 */
@media (max-width: 780px) {

  /* About */
  .about-content-box {
    padding-top: 10vh !important;
  }

  /* Page background grid */
  .white-section {
    height: 130vh;
  }

  /* Services */
  .services-content-title-underline {
    margin-bottom: 40px !important;
  }

  .services-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr)) !important;
  }

  /* Home */
  .home-sub-heading p {
    color: #81D398 !important;
    font-weight: 400 !important;
  }

  .home-arrow-icon a i {
    height: 10px;
  }
}

/* X-Small Devices 1 */
@media (max-width: 650px) {

  /* About */
  .about-content-box {
    padding-top: 10vh !important;
  }

  /* Page background grid */
  .white-section {
    height: 150vh;
  }

  /* Services */
  .services-content-title-underline {
    margin-bottom: 40px !important;
  }

  .services-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr)) !important;
  }

  /* Home */
  .home-sub-heading p {
    color: #81D398 !important;
    font-weight: 400 !important;
  }

  .home-arrow-icon a i {
    height: 10px;
  }
}

/* X-Small Devices 2 */
@media (max-width: 480px) {

  /* Page background grid */
  .white-section {
    height: 150vh;
  }

  .off-white-section {
    height: 30vh;
  }

  /* About */
  .about-content-box {
    padding-top: 5vh !important;
  }

  .about-content-box-wrapper {
    padding: 0px !important;
  }

  /* Home */
  .home-sub-heading p {
    color: #81D398 !important;
    font-weight: 400 !important;
  }

  .home-arrow-icon a i {
    height: 10px;
  }

  /* Services  */
  .services-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr)) !important;
  }
}

/* X-Small Devices 3 */
@media (max-width: 375px) {

  /* Page background grid */
  .white-section {
    height: 190vh;
  }

  .off-white-section {
    height: 30vh;
  }

  /* About */
  .about-content-box {
    padding-top: 5vh !important;
  }

  .about-content-box-wrapper {
    padding: 0px !important;
  }

  /* Home */
  .home-sub-heading p {
    color: #81D398 !important;
    font-weight: 400 !important;
  }

  .home-arrow-icon a i {
    height: 10px;
  }

  /* Services  */
  .services-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr)) !important;
  }
}

/* X-Small Devices 3 */
@media (max-width: 320px) {

  /* Page background grid */
  .white-section {
    height: 220vh;
  }

  .off-white-section {
    height: 30vh;
  }

  /* About */
  .about-content-box {
    padding-top: 5vh !important;
  }

  .about-content-box-wrapper {
    padding: 0px !important;
  }

  /* Home */
  .home-sub-heading p {
    color: #81D398 !important;
    font-weight: 400 !important;
  }

  .home-arrow-icon a i {
    height: 10px;
  }

  /* Services  */
  .services-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr)) !important;
  }
}
