.about-content-box {
  height: auto;
  width: 60%;
  margin: 0 auto 0 auto;
  padding: 12vh 0 10vh 0;
}

.about-content-box-wrapper {
  vertical-align: middle;
  text-align: center;
  padding: 0 160px;
}

.about-description p {
  margin-bottom: 20px;
  justify-content: center;
}
