.home-content-box {
  width: 100%;
  height: 100%;
  margin-top: 10vh;
  display: table;
}

.home-content-box-inner {
  vertical-align: middle;
  text-align: center;
}

.home-heading h3 {
  color: #fff;
  font-size: 4.5vh !important;
  font-weight: 500;
  margin: 20px 0 20px 0;
  letter-spacing: 2px;
}

.home-sub-heading p {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5vh;
  font-weight: 200;
}

#search-form {
  display: inline-block;
  align: left;
  margin-bottom: 60px;
}

form .search-form-input {
  background: #fff;
  border-radius: 6px;
  border-style: none;
  font-size: 17px;
  font-weight: 300;
  padding: 10px 6vw;
  color: #752DD0;
  box-shadow: 3px 17px 36px -8px rgba(0, 0, 0, 0.5);
}

form .search-form-input:hover,
form .search-form-input:focus, {
  box-shadow: 3px 17px 36px -8px rgba(0, 0, 0, 0.6);
}
